<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    </head>
    <body>
        {% include '_partials/navbar.html.twig' %}

        {% block body %}{% endblock %}

        <script src="{{ asset('js/navbar.js') }}"></script>
    </body>
</html>
