{% extends 'base.html.twig' %}

{% block title 'Picterest' %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title pb-4">{{ pluralize(pins|length, '%d Pin', '%d Pins', 'No Pins') }}</h1>

            {% for pin in pins %}
                <p class="subtitle">
                    <a href="{{ path('pin_show', {'id': pin.id}) }}">{{ pin.title }}</a>
                </p>
                <p class="content">{{ pin.description }}</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
